@charset "UTF-8";
/*preset*/
/*width and height edia queries*/
/*media*/
/*color*/
/*fonts*/
/* font-family: "OpenSansRegular"; */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "OpenSansRegular";
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "OpenSansLight";
    src: url("fonts/OpenSansLight/OpenSansLight.eot");
    src: url("fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "OpenSansBold";
    src: url("fonts/OpenSansBold/OpenSansBold.eot");
    src: url("fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "OpenSansSemiBold";
    src: url("fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
}
body {
	margin: 0;
	background-color: #f6f6f8;
	color: #4e4e4e;
	font-size: 16px;
	font-family: "OpenSansRegular";
	line-height: 1.25
}
a {
	color: inherit;
	text-decoration: inherit;
	-webkit-transition: .4s;
	transition: .4s;
}
* {
	box-sizing: border-box;
	border-radius: 0;
}
h1, .h1, h2, .h2, h3, .h3 {
	font-weight: normal;
}
h1, .h1 {
	margin: 0 0 25px;
	color: #ed1c24;
	font-size: 30px;
	font-family: "OpenSansSemiBold"
}
h2, .h2 {
	margin: 0 0 45px;
	color: #575c60;
	text-align: center;
	font-size: 20px;
	font-family: "OpenSansRegular";
}
h2 span, .h2 span {
    display: block;
}
b, strong {
	font-weight: normal;
	font-family: "OpenSansBold";
}
mark {
	background-color: inherit;
	color: #ed1c24
}
p {
	margin: 0 0 15px;
}
/*layout*/
main {
	display: block;
}
.main {
	overflow: hidden;
	margin: 0 auto;
	padding-top: 150px;
	max-width: 1200px;
	width: 100%
}
.wrap {
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	max-width: 1180px;
	width: 100%
}
.container {
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	max-width: 1140px;
	width: 100%;
}
.section {
	position: relative;
	padding: 30px 0 0
}
.justify {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	        align-items: center;
	        justify-content: space-between;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	-webkit-box-align: center;
	    -ms-flex-align: center;
}
/*elements*/
button {
	outline: none;
	border: none;
	background-color: none;
	font-size: inherit;
	cursor: pointer;
}
.btn {
	display: inline-block;
	padding: 0 35px;
	width: 100%;
	height: 42px;
	outline: none;
	border: none;
	background-color: #ed1c24;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	line-height: 42px;
	cursor: pointer
}
.btn:hover{
    background-color: #d90911;
}
input {
	display: inline-block;
	padding: 0 10px;
	width: 100%;
	height: 42px;
	outline: none;
	border: 1px solid #575c60;
	color: inherit;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-family: inherit
}
input::-webkit-input-placeholder{
    color: #949494;
}
input::-moz-placeholder{
    color: #949494;
}
input:-moz-placeholder{
    color: #949494;
}
input:-ms-input-placeholder{
    color: #949494;
}
.input {
	position: relative;
	margin: 0 0 19px;
}
.input input {
    padding-left: 47px;
    height: 52px;
    border-color: #acacac;
    text-align: left;
    font-size: 20px
}
.input input::-webkit-input-placeholder{
    color: #707070;
}
.input input::-moz-placeholder{
    color: #707070;
}
.input input:-moz-placeholder{
    color: #707070;
}
.input input:-ms-input-placeholder{
    color: #707070;
}
.input:before{
    position: absolute;
    top: 50%;
    left: 13px;
    display: block;
    width: 19px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: '';
}
.input._name{
}
.input._name:before{
    margin-top: -12px;
    height: 23px;
    background-image: url(pics/icons/man.png);
}
.input._number{
}
.input._number:before{
    margin-top: -17px;
    height: 34px;
    background-image: url(pics/icons/phone.png);
}
ol {
	margin: 0;
	padding: 0;
	counter-reset: item;
}
ol >li {
    position: relative;
    margin: 0 0 8px;
    padding: 10px 10px 10px 53px;
    background: #fff;
    color: #303940;
    list-style: none;
    font-size: 16px;
    font-family: "OpenSansLight"
}
ol >li:before{
    position: absolute;
    top: 6px;
    left: 20px;
    display: block;
    content: counter(item);
    counter-increment: item;
    font-size: 22px;
}
ol >li:last-of-type{
    margin-bottom: 0;
}
/*block*/
.nv-popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	padding: 15px;
	background: rgba(0, 0, 0, .75);
	text-align: center;
	font-size: 0
}
.nv-popup:before{
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.nv-popup__wrap{
    position: relative;
    z-index: 2;
    display: inline-block;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.nv-popup__overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.nv-popup__close{
    position: absolute;
    top: 9px;
    right: 22px;
    z-index: 3;
    width: 30px;
    height: 30px;
    background: #2d3c44;
    opacity: 0;
    cursor: pointer;
}
.nv-popup__close:hover{
    background: #ff3333;
}
.nv-popup__close:before{
    position: absolute;
    top: 4px;
    left: 13px;
    display: block;
    width: 3px;
    height: 22px;
    background: #fff;
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.nv-popup__close:after{
    position: absolute;
    top: 4px;
    left: 13px;
    display: block;
    width: 3px;
    height: 22px;
    background: #fff;
    content: '';
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.callback {
	padding: 0 10px 10px;
	background: #fff;
	font-size: 0
}
.callback__wrap{
    padding-top: 32px;
    padding-bottom: 20px;
    background-image: url(pics/bg/callback.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.callback__title{
    position: relative;
    margin: 0 0 25px;
    font-size: 14px;
    font-family: "OpenSansSemiBold";
    opacity: 0;
}
.callback-form {
	opacity: 0
}
.callback-form__btn{
    margin: 10px 0 0 0;
}
.logo {
	position: relative;
	color: #575c60
}
.logo__img{
    display: inline-block;
    max-width: 121px;
    max-height: 38px;
    vertical-align: middle;
}
.logo__img img{
    max-width: 100%;
    max-height: 100%;
}
.logo__text{
    display: none;
    margin: 0 0 0 35px;
    max-width: 225px;
    vertical-align: bottom;
    font-size: 12px;
    line-height: 1.3;
}
.contacts {
	display: inline-block;
	margin: 0 0 0 24px;
	vertical-align: middle;
}
.phone {
	display: block;
	color: #575c60;
	font-size: 20px;
	font-family: "OpenSansBold";
}
.slick-dots {
	position: absolute;
	top: 275px;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 0;
}
.slick-dots button {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    background: none
}
.slick-dots button:before{
    position: absolute;
    top: 4px;
    left: 4px;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #ed1c24;
    content: '';
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 21px;
    height: 20px;
    border: 1px solid #bcbcbc;
    vertical-align: middle
}
.slick-dots li:last-child{
    margin-right: 0;
}
.slick-dots li:hover{
    border-color: #ed1c24;
}
.slick-dots li.slick-active{
    border-color: #ed1c24;
}
.slick-dots li.slick-active button{
}
.slick-dots li.slick-active button:before{
    display: block;
}
.header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 150px;
	line-height: 1
}
.header._small{
    height: 66px;
}
.header._small .lang{
    display: none;
}
.header._small .header__logo{
    display: none;
}
.header__phone{
    position: absolute;
    top: 22px;
    right: 20px;
    color: #fff;
}
.header-content {
	margin: 0 auto;
	padding: 25px 10px 21px;
	max-width: 1200px;
	height: 100%;
	background: #fff;
	background: -webkit-linear-gradient(top, #575c60, #575c60 66px, #fff 66px, #fff);
	background: linear-gradient(to bottom, #575c60, #575c60 66px, #fff 66px, #fff)
}
.header-section {
	display: inline-block;
	vertical-align: middle

}
.menu {
	position: absolute;
	top: 60px;
	left: 0;
	z-index: 9;
	display: none;
	margin: 0;
	padding: 0 20px 15px;
	width: 100%;
	background: #575c60;
	list-style: none;
	font-size: 0
}
.menu.active{
    display: inline-block;
    -webkit-animation: SlideDown .4s forwards;
            animation: SlideDown .4s forwards;
}
.menu__toggle{
    position: relative;
    display: inline-block;
    margin: 0 0 50px 10px;
    width: 19px;
    height: 16px;
    vertical-align: middle;
}
.menu__toggle i{
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
.menu__toggle i:before{
    position: absolute;
    top: -6px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: #fff;
    content: '';
    -webkit-transition: .4s;
    transition: .4s;
}
.menu__toggle i:after{
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: #fff;
    content: '';
    -webkit-transition: .4s;
    transition: .4s;
}
.menu__toggle.active i{
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.menu__toggle.active i:before{
    -webkit-transform: scale(0);
    transform: scale(0);
}
.menu__toggle.active i:after{
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menu__item{
    border-bottom: 2px solid #dbdbdb;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "OpenSansLight";
}
.menu__item a{
    display: block;
    padding: 15px 0;
}
.menu__item:last-child{
    border-bottom: none;
}
.menu__item:hover{
    color: #000;
}
.mail {
	color: #d12028;
	font-size: 14px
}
.mail:hover{
    color: #d6060e;
    text-decoration: underline;
}
.lang {
	position: relative;
	display: block;
	overflow: hidden;
	margin-right: -20px;
	width: 150px;
	height: 27px;
	text-align: right
}
.lang.active{
    z-index: 2;
    overflow: visible;
    overflow: initial;
}
.lang.active .lang-item:first-child{
    color: #000;
}
.lang-item {
	position: relative;
	margin: 0 auto;
	padding: 7px 20px;
	background: #fff;
	color: #949494;
	text-align: left;
	white-space: nowrap;
	font-family: "OpenSansLight"
}
.lang-item:hover{
    color: #000;
}
.lang-item:first-child{
    padding-bottom: 20px;
}
.lang-item:last-child{
    padding-bottom: 20px;
}
.lang-item.active{
}
.lang-item.active:after{
    position: absolute;
    top: 8px;
    right: 23px;
    display: block;
    width: 7px;
    height: 7px;
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.lang-item__flag{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 24px;
    height: 16px;
    vertical-align: top;
    cursor: pointer;
}
.lang-item__country{
    position: relative;
    display: inline-block;
    padding: 0 20px 0 15px;
    vertical-align: top;
    font-size: 14px;
    cursor: pointer;
}
.lang-item__country:before{
    position: absolute;
    top: 0;
    left: 6px;
    display: block;
    content: '/';
}
.banner {
	position: relative;
	width: 100%;
	background-position: right top;
	background-size: auto 200%;
	background-repeat: no-repeat;
	box-shadow: 0 6px 15px rgba(0, 0, 0, .13)
}
.banner-content {
	display: inline-block;
	padding: 35px 10px 23px;
	width: 100%;
	color: #4e4e4e;
}
.banner-content ul {
    margin: 35px 0;
    padding: 0 0 0 30px;
    border-left: 10px solid #575c60;
    color: #4e4e4e;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 26px;
}
.banner-content li {
    margin: 0 0 15px
}
.banner-content li:last-of-type{
    margin-bottom: 0;
}
.banner-content__title{
    margin: 0 0 10px;
    max-width: 470px;
    font-size: 20px;
    font-family: "OpenSansSemiBold";
    line-height: 30px;
}
.banner-content__text{
    font-size: 14px;
}
.banner-content__btn{
    height: 53px;
    font-size: 20px;
    font-family: "OpenSansRegular";
    line-height: 53px;
}
.tariff {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	        justify-content: space-between;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify
}
.tariff__title{
    position: relative;
    margin: 0 0 25px;
    padding: 0 0 14px 36px;
    border-bottom: 3px solid #ed1c24;
    color: #575c60;
    font-size: 16px;
    line-height: 1;
}
.tariff__title:before{
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -22px;
    width: 29px;
    height: 29px;
    background: url(pics/icons/ico-1.png) no-repeat center/100% 100%;
    content: '';
}
.tariff-section {
}
.tariff-section._mini{
    margin: 0 -10px;
    padding: 20px 10px 0;
    background: #fff;
}
.tariff-offers {
	font-size: 0
}
.tariff-offer {
	display: inline-block;
	margin: 0 3.33333% 25px 0;
	padding: 30px 10px 10px;
	width: 48.33333%;
	height: 203px;
	background: #fff;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .13);
	vertical-align: top;
	font-size: 0;
	opacity: 0
}
.tariff-offer._mock{
    background: url(pics/bg/mock.png) no-repeat;
    box-shadow: none;
}
.tariff-offer:nth-child(2n){
    margin-right: 0;
}
.tariff-offer__ico{
    margin: 0 0 20px;
    width: 52px;
    height: 52px;
    border: 2px solid #ed1c24;
    border-radius: 50% 50% 0 50%;
    text-align: center;
}
.tariff-offer__ico span{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    color: #e2594d;
    vertical-align: middle;
    font-size: 20px;
}
.tariff-offer__ico img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.tariff-offer__ico:before{
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.tariff-offer__text{
    color: #616f78;
    font-size: 12px;
    font-family: "OpenSansLight";
}
.tariff-offer__text b, .tariff-offer__text strong{
    color: #000;
}
.tariff-option {
	padding: 45px 20px 20px;
	height: 310px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	opacity: 0
}
.tariff-option__title{
    position: relative;
    margin: 0 0 35px;
    padding: 0 0 0 70px;
}
.tariff-option__title i{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid #fff;
    border-radius: 50% 50% 0 50%;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.tariff-option__text{
    font-size: 14px;
    font-family: "OpenSansLight";
}
.slider {
	position: relative;
	background: #303940;
	white-space: nowrap;
	font-size: 0;
}
.slider-item {
	display: inline-block;
	width: 100%;
	height: 357px;
	white-space: normal;
	opacity: 0
}
.slider-item__btn{
    display: block;
    max-width: 160px;
    border: 1px solid #fff;
    background: rgba(237, 28, 36, .75);
    line-height: 40px;
}
.slider-item__btn:hover{
    background: rgba(237, 28, 36, 1);
}
.slider-text {
	position: relative;
	z-index: 1;
	padding: 35px 15px 45px;
	height: 330px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-family: "OpenSansLight";
}
.slider-text img {
    margin: 0 0 45px;
}
.slider-text:before{
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 2;
    display: block;
    margin-top: -59px;
    border: 59px solid transparent;
    border-left: 27px solid #303940;
    content: '';
}
.slider-img {
	position: relative;
	overflow: hidden;
	height: 357px;
}
.slider-img img {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.slider-img__content{
    position: absolute;
    right: 10px;
    bottom: 22px;
    left: 20px;
}
.slider-img__text{
    display: inline-block;
    margin: 0 0 12px;
    padding: 10px 15px;
    background-color: #f6f6f8;
    color: #303940;
    font-size: 16px;
    font-family: "OpenSansLight";
}
.about {
	position: relative;
	font-size: 0;
}
.about h3 {
    padding-bottom: 10px;
    border-bottom: 3px solid #ed1c24;
    text-align: left;
}
.terms {
	padding: 35px 10px 20px;
	background: #fff;
	color: #575c60;
	font-size: 14px
}
.terms__title{
    margin: 0 0 24px;
    padding: 0 0 9px;
    border-bottom: 3px solid #ed1c24;
    text-align: left;
}
.terms__arrow{
    position: relative;
    margin: 0 0 50px;
    padding: 20px 10px;
    border: 1px solid #575c60;
    text-align: center;
    font-size: 16px;
    opacity: 0;
}
.terms__arrow:before{
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    margin-top: 1px;
    margin-left: -100px;
    border: 100px solid transparent;
    border-top: 30px solid #575c60;
    content: '';
}
.terms__arrow:after{
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    margin-left: -100px;
    border: 100px solid transparent;
    border-top: 30px solid #fff;
    content: '';
}
.terms__text{
    padding: 0 10px;
    font-family: "OpenSansLight";
}
.scheme {
	position: relative;
	padding: 20px 10px;
}
.scheme li {
    opacity: 0;
}
.scheme__title{
    margin: 0 0 14px;
    padding: 0 0 9px;
    border-bottom: 3px solid #ed1c24;
    text-align: left;
}
.advantages {
    font-size: 0;
}
.advantage {
    padding: 25px 20px 35px;
    color: #fff;
    font-family: "OpenSansLight"
}
.advantage._small{
    background-color: #d12028;
    font-size: 16px;
}
.advantage._small img{
    margin: 0 0 20px;
}
.advantage._small img:last-of-type{
    margin-bottom: 0;
}
.advantage._large{
    padding-bottom: 0;
    background: #303940;
}
.advantage__title{
    position: relative;
    margin: 0 0 25px;
    color: #f6f6f8;
    font-size: 22px;
    font-family: "OpenSansRegular";
}
.advantage__title span{
    display: block;
}
.advantage__btn{
    z-index: 2;
    margin-top: 30px;
    max-width: 275px;
    width: 100%;
}
.advantage-item {
    padding: 20px 0;
    height: 230px;
    font-size: 16px;
    opacity: 0
}
.advantage-item__title{
    position: relative;
    margin: 0 0 22px;
    padding: 0 0 28px;
    max-width: 190px;
    color: #f6f6f8;
    font-size: 22px;
}
.advantage-item__title:before{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 145px;
    height: 3px;
    background: #f02428;
    content: '';
}
.advantage-item._left{
    background: -webkit-linear-gradient(left top, #303940, #3b444b);
    background: linear-gradient(to right bottom, #303940, #3b444b);
}
.advantage-item._middle{
    background: -webkit-linear-gradient(left top, #303940, #3b444b);
    background: linear-gradient(to right bottom, #303940, #3b444b);
}
.advantage-item._right{
    background: -webkit-linear-gradient(left top, #303940, #3a434a);
    background: linear-gradient(to right bottom, #303940, #3a434a);
}
.footer {
	position: relative;
	padding: 45px 20px 22px
}
.footer__logo{
    width: 100%;
    color: #000;
}
.footer__logo .logo__text{
    display: block;
    margin: 25px 0 0;
}
.footer__social{
    position: absolute;
    top: 50px;
    right: 20px;
}
.footer__contacts{
    margin: 17px 0 0;
}
.copyright {
	margin: 20px auto 0;
	padding: 25px 0 0;
	max-width: 1200px;
	border-top: 3px solid #f02428;
	color: #303940;
	font-size: 12px;
}
.copyright .wrap {
    padding: 0;
}
.copyright__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            align-items: center;
            justify-content: space-between;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.copyright__link img{
    display: inline-block;
    vertical-align: middle;
}
.copyright__link:hover{
    color: #d6060e;
    text-decoration: underline;
}
.copyright__text{
    margin: 0 0 25px;
}
.social {
	display: inline-block;
	vertical-align: middle
}
.social__link{
    display: inline-block;
    overflow: hidden;
    margin: 0 10px 0 0;
    width: 36px;
    height: 35px;
    border-radius: 3px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.social__link:last-child{
    margin-right: 0;
}
.social__link._vk{
    background-image: url(pics/icons/vk.png);
}
.social__link._fb{
    background-image: url(pics/icons/fb.png);
}
.social__link:hover{
    background-color: #d12028;
}
.form {
	display: none;
	padding: 40px 15px;
	max-width: 350px;
	width: 100%;
	background: #fff;
	color: #2d3c44;
	text-align: center;
	font-size: 14px
}
.form.active{
    display: block;
    -webkit-animation: Bounce .5s forwards;
            animation: Bounce .5s forwards;
}
.form.active ~.nv-popup__close{
    -webkit-animation: Visible .2s forwards;
    animation: Visible .2s forwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.form__title{
    margin: 0 0 1.16667em;
    font-size: 30px;
    font-family: "OpenSansSemiBold";
}
.form__desc{
    display: inline-block;
    margin: 0 0 40px;
    max-width: 185px;
    font-family: "OpenSansLight";
}
.form__submit{
    display: block;
    padding: 0 5px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
/*animation*/
.slideUp {
	-webkit-animation: .5s SlideUp forwards;
	        animation: .5s SlideUp forwards;
}
.slideRight {
	-webkit-animation: .5s slideRight forwards;
	        animation: .5s slideRight forwards;
}
.slideLeft {
	-webkit-animation: .5s slideLeft forwards;
	        animation: .5s slideLeft forwards;
}
.slideDown {
	-webkit-animation: .5s SlideDown forwards;
	        animation: .5s SlideDown forwards;
}
.bounce {
	-webkit-animation: .5s Bounce forwards;
	        animation: .5s Bounce forwards;
}
.visible {
	-webkit-animation: .5s Visible forwards;
	        animation: .5s Visible forwards;
}
@-webkit-keyframes slideLeft {
	from {
		opacity: 0;
		-webkit-transform: translate(-100px, 0);
		        transform: translate(-100px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@keyframes slideLeft {
	from {
		opacity: 0;
		-webkit-transform: translate(-100px, 0);
		        transform: translate(-100px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@-webkit-keyframes slideRight {
	from {
		opacity: 0;
		-webkit-transform: translate(100px, 0);
		        transform: translate(100px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@keyframes slideRight {
	from {
		opacity: 0;
		-webkit-transform: translate(100px, 0);
		        transform: translate(100px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@-webkit-keyframes SlideUp {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 100px);
		        transform: translate(0, 100px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@keyframes SlideUp {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 100px);
		        transform: translate(0, 100px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@-webkit-keyframes SlideDown {
	from {
		opacity: 0;
		-webkit-transform: translate(0, -20px);
		        transform: translate(0, -20px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@keyframes SlideDown {
	from {
		opacity: 0;
		-webkit-transform: translate(0, -20px);
		        transform: translate(0, -20px);
	}
	to {
		opacity: 1;
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
}
@-webkit-keyframes Bounce {
	from {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	60% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	75% {
		-webkit-transform: scale(.95);
		        transform: scale(.95);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes Bounce {
	from {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	60% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	75% {
		-webkit-transform: scale(.95);
		        transform: scale(.95);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@-webkit-keyframes Visible {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes Visible {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media(min-width: 480px){
    body{
}
}
@media(min-width: 759px){
    body{
}
    h1, .h1{
        margin-bottom: 20px;
        font-size: 32px;
    }
    h2, .h2{
        margin-bottom: 40px;
        font-size: 26px;
    }
    .wrap{
        padding-right: 20px;
        padding-left: 20px;
    }
    .section{
        padding-top: 65px;
    }
    .btn{
        width: auto;
    }
    ol{
        padding-left: 232px;
        font-size: 22px;
    }
    ol:before{
        top: 10px;
    }
    .callback{
        position: absolute;
        right: 20px;
        bottom: 20px;
        left: 50%;
        padding: 30px 0 25px;
        height: 290px;
        background-image: url(pics/bg/callback.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .callback__wrap{
        padding-top: 0;
        padding-bottom: 0;
        background: none;
    }
    .callback__title{
        margin-bottom: 0;
        margin-bottom: 20px;
    }
    .callback__title:before{
        display: block;
        margin: 0 auto 21px;
        width: 62px;
        height: 60px;
        background: url(pics/icons/star.png) no-repeat center/100% 100%;
        content: '';
    }
    .callback-form{
}
    .callback-form__btn{
        margin-top: 20px;
        width: 100%;
    }
    .logo{
        top: -8px;
        display: inline-block;
        vertical-align: middle;
    }
    .logo__img{
        max-width: 161px;
        max-height: 50px;
    }
    .logo__text{
        display: inline-block;
    }
    .header{
}
    .header__logo{
        position: absolute;
        top: auto;
        bottom: 17px;
    }
    .header__logo .logo__text{
        position: relative;
        top: -6px;
    }
    .header-content{
        padding: 23px 10px 18px;
    }
    .menu{
        position: absolute;
        top: 15px;
        left: 20px;
        display: inline-block;
        padding: 0;
        width: auto;
        background: inherit;
        vertical-align: bottom;
    }
    .menu__item{
        display: inline-block;
        border-bottom: none;
        vertical-align: middle;
    }
    .menu__item a{
        padding: 0 20px;
        border-radius: 17px;
        line-height: 34px;
    }
    .menu__item.active{
        color: #fff;
    }
    .menu__item.active a{
        background: #ed1c24;
    }
    .menu__item.active a:hover{
        background: #d6060e;
    }
    .menu__toggle{
        display: none;
    }
    .lang{
        position: absolute;
        top: 92px;
        right: 0;
        margin: 0;
    }
    .banner{
        height: 660px;
        background-position: center top;
        background-size: cover;
    }
    .banner-content{
        float: right;
        padding: 50px 0 40px;
        max-width: 550px;
        width: 50%;
    }
    .banner-content ul{
        margin: 50px 0 ;
    }
    .banner-content__btn{
        font-size: 26px;
    }
    .tariff{
}
    .tariff__title{
        line-height: 29px;
    }
    .tariff-section{
}
    .tariff-section._mini{
        margin: 0 -20px;
        padding: 20px;
    }
    .tariff-offer{
        margin-right: 1.7341%;
        padding-right: 17px;
        padding-left: 17px;
        width: 31.79191%;
    }
    .tariff-offer:nth-child(2n){
        margin-right: 1.7341%;
    }
    .tariff-offer:nth-child(3n){
        margin-right: 0;
    }
    .tariff-offer__text{
        font-size: 14px;
    }
    .tariff-option{
        width: 50%;
        height: 290px;
    }
    .slider-text{
        height: 330px;
    }
    .slider-img{
}
    .slider-img__text{
        padding-right: 22px;
        padding-left: 22px;
        font-size: 22px;
    }
    .terms{
        padding: 35px 20px 45px;
    }
    .terms__text{
        padding: 0;
    }
    .scheme{
        padding: 30px 20px 20px;
    }
    .scheme:before{
        position: absolute;
        top: 85px;
        left: 46px;
        display: block;
        width: 152px;
        height: 245px;
        background-image: url(pics/icons/sim.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        content: '';
    }
    .advantage{
        padding-top: 35px;
        padding-right: 20px;
    }
    .advantage._small{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-align: center;
        -ms-flex-align: center;
    }
    .advantage._small img{
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
    .advantage._small .advantage__title{
        margin-bottom: 0;
    }
    .advantage._large{
        background: #303940;
    }
    .advantage._large .advantage__title{
        max-width: 100%;
    }
    .advantage__title{
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        max-width: 250px;
        width: 100%;
        vertical-align: middle;
        font-size: 26px;
        font-family: "OpenSansLight";
    }
    .advantage__title span{
        padding: 0 295px 0 0;
    }
    .advantage__title._large{
}
    .advantage__title._large:before{
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 55px;
        background: -webkit-linear-gradient(top, #303940, transparent);
        background: linear-gradient(to bottom, #303940, transparent);
        content: '';
    }
    .advantage__btn{
        position: absolute;
        top: 11px;
        right: 0;
        margin-top: 0;
        width: 100%;
    }
    .advantage-item{
        display: inline-block;
        padding: 55px 20px 20px;
        width: 33.33333%;
        height: 305px;
        vertical-align: top;
    }
    .advantage-item__title{
        min-height: 80px;
        max-width: 220px;
    }
    .footer{
        padding: 30px 0 0;
    }
    .footer__logo{
        width: auto;
    }
    .footer__logo .logo__text{
        display: inline-block;
        margin: 0 0 0 25px;
    }
    .footer__social{
        position: static;
        position: initial;
        top: 0;
        right: 0;
    }
    .footer__contacts{
        margin: 0 0 0 24px;
    }
    .copyright{
        margin-top: 25px;
        padding: 12px 0;
    }
    .copyright .wrap{
        padding: 0 20px;
    }
    .copyright__link{
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .copyright__link img{
        margin: -5px 0 0 35px;
    }
    .copyright__text{
        margin: 0;
    }
    .form{
        padding: 60px 34px;
    }
    .form__submit{
        width: 100%;
    }
}
@media(min-width: 1200px){
    body{
}
    h1, .h1{
        margin-bottom: 60px;
    }
    .main{
        padding-top: 87px;
    }
    .wrap{
        padding-right: 10px;
        padding-left: 10px;
    }
    input{
        max-width: 275px;
    }
    .input input{
        max-width: 100%;
    }
    ol{
        padding-left: 0;
    }
    .callback{
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 50px;
        height: auto;
    }
    .callback__title{
        display: inline-block;
        margin-bottom: 0;
        padding: 0 0 0 88px;
        max-width: 45.68966%;
        width: 100%;
        vertical-align: middle;
    }
    .callback__title:before{
        position: absolute;
        top: 50%;
        left: 11px;
        margin: -30px 0 0;
    }
    .callback-form{
        display: inline-block;
        max-width: 54.31034%;
        width: 100%;
        vertical-align: middle;
        text-align: right;
        white-space: nowrap;
    }
    .callback-form__btn{
        margin: 0 0 0 20px;
        width: auto;
    }
    .slick-dots{
        top: auto;
        bottom: 23px;
        width: 50%;
    }
    .header{
        height: auto;
    }
    .header._small{
        height: auto;
    }
    .header._small .lang{
        display: inline-block;
    }
    .header._small .header__logo{
        display: inline-block;
    }
    .header__phone{
        position: static;
        position: initial;
        top: 0;
        right: 0;
        color: #575c60;
    }
    .header__logo{
        position: relative;
        top: -8px;
        bottom: auto;
    }
    .header__logo .logo__text{
        top: 0;
    }
    .header-content{
        padding: 22px 0 15px;
        background: #fff;
    }
    .header-section{
        height: 52px;
    }
    .menu{
        position: static;
        position: initial;
        top: 0;
        left: 0;
    }
    .menu__item{
        color: #515a62;
    }
    .lang{
        position: relative;
        top: 0;
        margin: 5px 0 0;
    }
    .banner-content ul{
        margin: 35px 0;
    }
    .banner-content__title{
        margin-bottom: 3px;
        font-size: 26px;
    }
    .banner-content__text{
        font-size: 16px;
        line-height: 30px;
    }
    .banner-content__btn{
        margin-left: 40px;
        width: 350px;
    }
    .tariff-section{
        display: inline-block;
        width: 74.56897%;
        vertical-align: top;
    }
    .tariff-section._mini{
        margin: 0;
        padding: 0;
        width: 23.7069%;
        background: inherit;
    }
    .tariff-offers{
        margin-bottom: -20px;
    }
    .tariff-offer{
        margin: 0 2.31214% 20px 0;
        padding-right: 19px;
        padding-left: 19px;
        height: 170px;
    }
    .tariff-offer:nth-child(2n){
        margin-right: 2.31214%;
    }
    .tariff-offer:nth-child(3n){
        margin-right: 0;
    }
    .tariff-option{
        min-height: 360px;
        width: auto;
        height: 360px;
    }
    .slider-text{
        display: inline-block;
        width: 50%;
        height: 100%;
        vertical-align: top;
    }
    .slider-img{
        display: inline-block;
        width: 50%;
        height: 100%;
        vertical-align: top;
    }
    .slider-img__content{
        right: 20px;
        left: 43px;
    }
    .about{
        padding: 55px 20px 25px 40px;
        background: -webkit-linear-gradient(left, #fff, #fff 50%, #f6f6f8 50%, #f6f6f8);
        background: linear-gradient(to right, #fff, #fff 50%, #f6f6f8 50%, #f6f6f8);
    }
    .terms{
        display: inline-block;
        padding: 0 136px 0 0;
        width: 50%;
        background: none;
        vertical-align: top;
    }
    .scheme{
        display: inline-block;
        padding: 0 0 0 140px;
        width: 50%;
        vertical-align: top;
    }
    .scheme:before{
        top: 0;
        left: -92px;
        width: 184px;
        height: 290px;
    }
    .advantage{
        display: inline-block;
        vertical-align: middle;
    }
    .advantage__title{
        margin-bottom: 40px;
    }
    .advantage__title._large{
        margin-bottom: 0;
        padding-left: 20px;
    }
    .advantage._small{
        display: inline-block;
        width: 24.58333%;
        height: 360px;
        vertical-align: top;
    }
    .advantage._small img{
        margin: 0 0 20px;
    }
    .advantage._small .advantage__title{
        margin-bottom: 40px;
    }
    .advantage._large{
        padding-bottom: 35px;
        width: 75.41667%;
        height: 360px;
        background: #303940, #303940 32.59669%, #333c43 32.59669%, #333c43 65.19337%, #323a41 65.19337%, #323a41);
    }
    .advantage-item{
        padding-top: 40px;
        height: 270px;
    }
    .advantage-item._left{
        width: 31.79191%;
    }
    .advantage-item._middle{
        width: 34.10405%;
    }
    .advantage-item._right{
        width: 34.10405%;
    }
    .footer{
}
    .footer__logo{
        margin-left: 20px;
    }
    .footer__logo .logo__text{
        margin-left: 35px;
    }
    .copyright .wrap{
        padding: 0 10px;
    }
    .copyright__text{
        margin-left: 20px;
    }
}
@media(min-width: 1365px){
    body{
}
}